body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hoverflase {
  display: hidden;
}

.hovertrue {
  display: block;
  position: absolute;
  right: 100px;
}

body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}
h1 {
  color: blue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-size: 3em;
  background-color: rgba(248, 253, 255, 0.425);
  border-radius: 100px;
}
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 55%;
  max-height: 55%;
  margin: 20px auto;
}

h2 {
  color: blue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-size: 30pt;
  background-color: rgba(141, 225, 138, 0.64);
  color: rgb(0, 56, 35);
  border-radius: 100px;
}

.process {
  background-color: rgba(248, 253, 255, 0.425);
}

.taskred {
  background-color: red;
  font-size: 30pt;
  border-radius: 18%;
}

.taskred2 {
  background-color: rgb(0, 255, 234);
  font-size: 30pt;
  border-radius: 18%;
}

.taskgreen {
  background-color: rgb(53, 230, 53);
  font-size: 30pt;
  border-radius: 18%;
}

.arrow {
  color: blue;
  font-size: 40pt;
  font-weight: 900;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rbutton {
  font-size: 3em;
  border-radius: 30px;
  background-color: rgb(141, 225, 138);
  color: rgb(0, 56, 35);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.rbuttonsmall {
  font-size: 20pt;
  border-radius: 30px;
  background-color: rgb(141, 225, 138);
  color: rgb(0, 56, 35);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

.hoverfalse {
  position: absolute;
  background-color: rgba(13, 167, 64, 0.567);
  padding: 50px;
  visibility: hidden;
}

.hovertrue {
  position: absolute;
  background-color: rgba(13, 167, 64, 0.567);
  padding: 5vw;
  width: 50vw;
}

.rp {
  background-color: rgb(255, 224, 255);
  margin: 1%;
  padding: 1%;
}

.Ras2 {
  text-align: center;
}

.red {
  min-height: 100%;
  background: red;
  animation: a 2s linear infinite;
  border-radius: 50px;
}

.yellow {
  min-height: 100%;
  background: rgb(218, 218, 0);
  animation: a 2s linear infinite;
}

.green {
  min-height: 100%;
  background: green;
  animation: a 2s linear infinite;
}

.black {
  min-height: 100%;
  background: black;
  animation: a 2s linear infinite;
}

.unicorn {
  min-height: 100%;
  background: linear-gradient(
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    )
    0 0/100% 200%;
  animation: a 2s linear infinite;
}

.redl {
  min-height: 100%;
  background: pink;
  animation: a 2s linear infinite;
  border-radius: 50px;
}

.brownl {
  min-height: 100%;
  background: rgb(226, 105, 105);
  animation: a 2s linear infinite;
  border-radius: 50px;
}

.brown {
  min-height: 100%;
  background: brown;
  animation: a 2s linear infinite;
  border-radius: 50px;
}

.yellowl {
  min-height: 100%;
  background: rgb(255, 255, 150);
  animation: a 2s linear infinite;
}

.greenl {
  min-height: 100%;
  background: lightgreen;
  animation: a 2s linear infinite;
}

.blackl {
  min-height: 100%;
  background: black;
  animation: a 2s linear infinite;
}

.unicornl {
  min-height: 100%;
  background: linear-gradient(
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    )
    0 0/100% 200%;
  animation: a 2s linear infinite;
}

@keyframes a {
  to {
    background-position: 0 -200%;
  }
}

.loader {
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
